* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

html,
body {
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
}

body{
    background-color: #555;
}

section {
height: 100%;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

section h1{
    padding: 100px 90px;
    background-color: yellow;
    border-radius: 10px;
}

button{
    padding: 15px 30px;
    margin: 20px;
    font-size: 20px;
    background-color: rgba(233, 105, 105, 0.984);
    border: none;
    border-radius: 5px;
}

button:active{
    transform: scale(0.95);
}