* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

main {
    width: 100%;
    height: 100%;
    background-color: #111;
    padding: 20px;
    display: flex;
    align-items: start;
    gap: 20px;

    .card {
        width: 300px;
        padding: 20px;
        text-align: center;
        border: 2px solid #444;
        background-color: #fff;
        color: #111;
        border-radius: 10px;

    }

    .card img {
        width: 40%;
        height: 40%;
        object-fit: cover;
        border-radius: 50%;
    }

    .card h1{
        margin: 10px 0 ;
        font-size: 30px;
        font-weight: 800;
    }

    .card h3{
        margin: 10px 0 ;
        font-size: 20px;
        color: #de0b0b;
        font-weight: 700;
    }
    .card p{
        font-size: 16px;
        line-height: 1.5;
        font-weight: 600;
    }

}