*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body{
    width: 100%;
    height: 100%;
}

body{
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
}

@property --rotate{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes borderAnimate{
    from{
        --rotate: 0deg;
    }

    to{
        --rotate: 360deg;
    }
}

.box{
    max-width: 350px;
    padding-inline: 10px;
    padding-bottom: 10px;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* box-shadow: 0 0 30px rgb(255, 0, 157); */
    border-radius: 10px;
    background: 
    linear-gradient(black) padding-box,
    conic-gradient(from var(--rotate), rgb(255, 0, 123), black) border-box;
    border: 0px solid rgb(255, 255, 255, 0);
    animation: borderAnimate 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: paused;
    transition: all 0.3s linear;
    box-shadow: 0 0 0px rgb(255, 0, 123);
    text-shadow: 0 0 0px rgb(255, 0, 123);
    color: white;
}

.box:hover{
    animation-play-state: running;
    border-width: 5px;
    box-shadow: 0 0 40px rgb(255, 0, 123);
    color: rgb(255, 0, 123);
     text-shadow: 0 0 10px rgb(255, 0, 123);
}

.box img{
    width: 100%;
}