* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
    width: 100%;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;

    .div{
        height: 250px;
        background-color: #333;
        border-radius: 20px;
        text-align: center;

        h1{
            font-size: 200px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }

    }


    // #box {
    //     height: 100%;
    //     width: 100%;


    //second project
        // img {
        //     height: 40px;

        // }

        // #cursor {
        //     position: absolute;
        //     height: 40px;
        //     transform: translate(-50%, -50%);
        // }

    // }

}