*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

html, body{
    width: 100%;
    height: 100%;
}

body{
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

/* #box{
    width: 300px;
    height: 300px;
    background-color: rgb(20 95 15);
    border-radius: 10px;
    border: 2px solid white;
} */

h1{
    font-size: 100px;
    background-color: lightseagreen;
    padding: 10px 50px; 
    border-radius: 10px;
    
}

button{
    background-color: red;
    padding: 15px 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:active{
    scale: 0.95;
}