*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

html,
body { 
    width: 100%;
    height: 100%;
}

body{
    background: linear-gradient(to right bottom, rgb(26, 26, 26), rgb(30, 30, 30), black);
}

main{
    height: 100%;
    width: 100%;
    padding: 15px;
}

section{
    height: 100%;
    width: 400px;
    border-radius: 10px;
    background-color: black;
    margin: auto;
}

.all-reels{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.reel{
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: 10px;
}

.reel img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bottom{
    padding: 20px 15px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.049); 
    position: absolute;
    bottom: 0;
}

.user{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.user img{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    object-fit: cover;
}

.user h4{
    font-size: 20px;
    font-weight: 600;
}

.user button{
   background-color: transparent; 
   padding: 1px 4.2px;
   font-size: 12px;
   font-weight: 600;
   border: 1px solid #fff;
   border-radius: 2px;
   cursor: pointer;
}

button:active{
    transform: scale(0.95);
}

.right{
    width: 40px;
    padding: 20px;
    position: absolute;
    right: 0;
    /* transform: translateX(100%);  */
    bottom: 10%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.right h4{
    cursor: pointer;
}

.right i{
    font-size: 25px;
    font-weight: 500;
}

.right h6{
    font-size: 15px;
    font-weight: 500;
}

.right>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}