*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #111;
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.elem{
    width: 100%;
    height: 80px;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

h3{
    font-size: 1.8rem;
}

button{
    padding: 10px 20px;
    background-color: black;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

button:active{
    transform: scale(0.95);
}