*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

body{
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width: 300px;
    height: 200px;
    animation: changeBackgroundColor 8s both;
    /* background: conic-gradient(from 259deg, rgb(255, 255, 255), rgb(0,0,0), red, yellow);  */
}

@keyframes changeBackgroundColor{
    from{
        background-color: rgb(255, 255, 255);
        border-radius: 20px;
    }

    to{
        background-color: #111;
        border-radius: 20px;
    }
}