*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
      anchor-name: --some-anchor;
    /* gap: 30px; */
}


.box:hover{
    anchor-name: --some-anchor;
}

.red{
    width: 200px;
    height: 200px;
    background-color: rgb(66, 18, 18);
}

.blue{
    width: 200px;
    height: 200px;
    background-color: rgb(12, 26, 68);
   
}

.green{
    width: 200px;
    height: 200px;
    background-color: rgb(19, 68, 16);
}

.anchor{
    background-color: #b9b9b9;
    border-radius: 5px;
    position: absolute;
    top:anchor(top);
    left:anchor(left);
    bottom: anchor(bottom);
    right: anchor(right);
    pointer-events: none;
    position-anchor: --some-anchor;
    transition: all 0.3s linear;
    mix-blend-mode: difference;
}

.box:hover{
    anchor-name: --some-anchor;
}