*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

html, body{
    width: 100%;
    height: 100%;
}

body{
    background-color: black;
}

button{
    padding: 15px 60px;
    background-color: red;
    margin: 50px;
    border: none;
    border-radius: 5px;

}

button:active{
    scale: 0.95;
}