*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

html, body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    width: 200px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    position: relative;
}

.card img{
    width: 100%;
    height: 190px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 10px;
}

.card h2{
    font-size: 20px;
    text-align: center;
}

.card i{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    opacity: 0;
    background-image: url(https://t3.ftcdn.net/jpg/03/41/32/38/360_F_341323809_iPCUliTOGf41jLepKLMWb6Gat0jHSgz1.jpg);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transform: translate(-50%,-50%) scale(0) rotate(-60deg);
    transition: all  cubic-bezier(.65,1.77,.1,.44) 0.4s;
}