*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
}

.card{
    width: 330px;
    height: 470px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0);
    overflow: hidden;
    padding: 15px;
    text-align: center;
}

.card img{
    width: 100%;
    height: 60%;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}

.card h2{
    margin: 10px 0;
    font-size: 30px;
    font-weight: 700;
}

.card h5{
    font-size: 28px;
    color: red;
    margin-bottom: 20px;
}

.card button{
    background-color: cadetblue;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
    margin: 5px;
    cursor: pointer;
}

.card #remove{
    background-color: #dadada;
    color: #111;
}

button:active{
    transform: scale(0.93);
}