*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: #282c34;
}



main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button{
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: green;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px;
    color: white;
}

button:active{
    scale: 0.95;
}

#card{
    width: 400px;
    height: 200px;
    background-color: white;
    border-radius: 15px;
    padding: 30px;

}

.outer{
    height: 20px;
    width: 100%;
    background-color: #cdeef5;
    border-radius: 50px;
}

.inner{
    height: 100%;
    width: 0%;
    background-color: green;
    border-radius: 50px;
    animation: move 2s infinite;
}

.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.bottom>h2{
    font-size: 50px;
}

#card>p{
    margin-bottom: 20px;
    font-weight: 600;
}

span{
    color: blue;
    font-weight: 700;
}