*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, 
body{
    width: 100%;
    height: 100%;
}


:root{
    --x: 400px;
    --y: 400px
}

body{
    background-video: url();
    background-size: cover;
}

.box{
    width: 100%;
    height: 100%;
    background: radial-gradient(100px at var(--x) var(--y),  rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.907))
}