*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, 
body{
    width: 100%;
    height: 100%;
}


:root{
    --x: 400px;
    --y: 400px
}

body{
    background-image: url(https://images.unsplash.com/photo-1763972456511-fc3cf9bdca83?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
}

.box{
    width: 100%;
    height: 100%;
    background: radial-gradient(100px at var(--x) var(--y),  rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.907))
}