* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

main {
    width: 100%;
    height: 100%;
    background-color: #111;


    section {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;

        h1 {
            width: 400px;
            height: 300px;
            background-color: red;
            border: 2px solid white;
            border-radius: 15px;
            display: flex; 
            justify-content: center;
            align-items: center;
        }

        button{
            padding: 1.1rem 3.5rem;
            border-radius: 7px;
            background-color: aqua;
            font-size: 1rem;
        }

        button:active{
            scale: .95;
        }

    }
}